<header>
  <h1>Lord Of The Rings Members Club</h1>
  <nav class="nav">
    <ul class="nav-items">
      <li>
        <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>"
          >HOME</a
        >
      </li>
      <li>
        <a
          href="/members"
          class="<%= activePage === 'members' ? 'active' : '' %>"
          >MEMBERS</a
        >
      </li>
      <li>
        <a href="/create" class="<%= activePage === 'create' ? 'active' : '' %>"
          >SIGN UP</a
        >
      </li>
    </ul>
  </nav>
</header>
