<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>LOTRMC Home</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <div class="container main-container">
        <h2>Welcome to LOTRMC</h2>
        <p>
          LOTRMC is the central digital hub of the biggest Lord Of The Rings
          enthusiasts to date!
        </p>
        <p>
          Join us and be a part of an exciting journey, a journey to Mount Doom
          and back! <br />
          Share a lembas bread with us and let us share our experiences of the
          saga with you.
        </p>
        <p>Welcome aboard Mr. Underhill, no Nazgul will get you here!</p>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
